<div class=" content">
  <div class=" row">
    <div class="col-lg-12 col-md-12">     

      <div *ngIf="selectedFund !== undefined" class="card ">
        <div class="card-header">
          <h2 class="card-title">Fund datas</h2>
          <select (change)="rowSelected($event.target.value)">
            <option *ngFor="let fund of fundList" value={{fund.isinNumber}}>{{fund.name}}</option>
          </select>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter table-hover" id="">
              <thead class=" text-primary">
                <tr>
                  <th class="text-center"> Year </th>
                  <th class="text-center"> Jan </th>
                  <th class="text-center"> Feb </th>
                  <th class="text-center"> Mar </th>
                  <th class="text-center"> Apr </th>
                  <th class="text-center"> May </th>
                  <th class="text-center"> Jun </th>
                  <th class="text-center"> Jul </th>
                  <th class="text-center"> Aug </th>
                  <th class="text-center"> Sep </th>
                  <th class="text-center"> Oct </th>
                  <th class="text-center"> Nov </th>
                  <th class="text-center"> Dec </th>
                  <th class="text-center">     </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let month of selectedFund.monthlyPerformanceList; let i = index">
                  <td class="text-center">{{month.year}} </td>
                  <td class="text-center">{{month.performanceListByMonth[0]}} </td>
                  <td class="text-center">{{month.performanceListByMonth[1]}} </td>
                  <td class="text-center">{{month.performanceListByMonth[2]}} </td>
                  <td class="text-center">{{month.performanceListByMonth[3]}} </td>
                  <td class="text-center">{{month.performanceListByMonth[4]}} </td>
                  <td class="text-center">{{month.performanceListByMonth[5]}} </td>
                  <td class="text-center">{{month.performanceListByMonth[6]}} </td>
                  <td class="text-center">{{month.performanceListByMonth[7]}} </td>
                  <td class="text-center">{{month.performanceListByMonth[8]}} </td>
                  <td class="text-center">{{month.performanceListByMonth[9]}} </td>
                  <td class="text-center">{{month.performanceListByMonth[10]}} </td>
                  <td class="text-center">{{month.performanceListByMonth[11]}} </td>
                  <td class="text-center">{{month.performance}} </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
