
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> Avaliable funds</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter table-hover" id="">
            <thead class=" text-primary">
              <tr>
                <th></th>
                <th> ISIN </th>
                <th> Name </th>
                <th> Currency </th>
                <th> Management </th>
                <th> Focus </th>
                <th> Type </th>
                <th class="text-center">YTD</th>
                <td class="text-center">1 year</td>
                <td class="text-center">3 year</td>
                <td class="text-center">5 year</td>
                <td class="text-center">from Begg.</td>
                <td class="text-center">{{this.actualYear - 9}} </td>
                <td class="text-center">{{this.actualYear - 8}} </td>
                <td class="text-center">{{this.actualYear - 7}} </td>
                <td class="text-center">{{this.actualYear - 6}} </td>
                <td class="text-center">{{this.actualYear - 5}} </td>
                <td class="text-center">{{this.actualYear - 4}} </td>
                <td class="text-center">{{this.actualYear - 3}} </td>
                <td class="text-center">{{this.actualYear - 2}} </td>
                <td class="text-center">{{this.actualYear - 1}} </td>
                <td class="text-center">Avg</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fund of fundList; let i = index">
                <td (click)="rowSelected(fund)">{{i+1}} </td>          
                <td> {{fund.isinNumber}} </td>
                <td> {{fund.name}} </td>
                <td> {{fund.currency}} </td>
                <td> {{fund.management}} </td>
                <td> {{fund.focus}} </td>
                <td> {{fund.type}} </td>
                <td class="text-center">{{fund.performanceYTD}} </td>
                <td class="text-center">{{fund.performance1Year}} </td>
                <td class="text-center">{{fund.performance3Year}} </td>
                <td class="text-center">{{fund.performance5Year}} </td>
                <td class="text-center">{{fund.performanceFromBeggining}} </td>
                <td class="text-center">{{fund.performanceActualMinus9}} </td>
                <td class="text-center">{{fund.performanceActualMinus8}} </td>
                <td class="text-center">{{fund.performanceActualMinus7}} </td>
                <td class="text-center">{{fund.performanceActualMinus6}} </td>
                <td class="text-center">{{fund.performanceActualMinus5}} </td>
                <td class="text-center">{{fund.performanceActualMinus4}} </td>
                <td class="text-center">{{fund.performanceActualMinus3}} </td>
                <td class="text-center">{{fund.performanceActualMinus2}} </td>
                <td class="text-center">{{fund.performanceActualMinus1}} </td>
                <td class="text-center">{{fund.performanceAverage}} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


<!--<div class=" col-lg-6 col-md-12">
  <div class=" card">
    <div class=" card-header">
      <h4 class=" card-title">Simple Table</h4>
    </div>
    <div class=" card-body">
      <div class=" table-responsive">
        <table class=" table tablesorter" id="">
          <thead class=" text-primary">
            <tr>
              <th></th>
              <th> ISIN </th>
              <th> Name </th>
              <th> Currency </th>
              <th> Management </th>
              <th> Focus </th>
              <th> Type </th>
              <th class="text-center">YTD</th>
              <td class="text-center">1 year</td>
              <td class="text-center">3 year</td>
              <td class="text-center">5 year</td>
              <td class="text-center">from Begg.</td>
              <td class="text-center">{{this.actualYear - 9}} </td>
              <td class="text-center">{{this.actualYear - 8}} </td>
              <td class="text-center">{{this.actualYear - 7}} </td>
              <td class="text-center">{{this.actualYear - 6}} </td>
              <td class="text-center">{{this.actualYear - 5}} </td>
              <td class="text-center">{{this.actualYear - 4}} </td>
              <td class="text-center">{{this.actualYear - 3}} </td>
              <td class="text-center">{{this.actualYear - 2}} </td>
              <td class="text-center">{{this.actualYear - 1}} </td>
              <td class="text-center">Avg</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fund of fundList; let i = index">
              <td>{{i+1}} </td>
              <td> {{fund.isinNumber}} </td>
              <td> {{fund.name}} </td>
              <td> {{fund.currency}} </td>
              <td> {{fund.management}} </td>
              <td> {{fund.focus}} </td>
              <td> {{fund.type}} </td>
              <td class="text-center">{{fund.performanceYTD}} </td>
              <td class="text-center">{{fund.performance1Year}} </td>
              <td class="text-center">{{fund.performance3Year}} </td>
              <td class="text-center">{{fund.performance5Year}} </td>
              <td class="text-center">{{fund.performanceFromBeggining}} </td>
              <td class="text-center">{{fund.performanceActualMinus9}} </td>
              <td class="text-center">{{fund.performanceActualMinus8}} </td>
              <td class="text-center">{{fund.performanceActualMinus7}} </td>
              <td class="text-center">{{fund.performanceActualMinus6}} </td>
              <td class="text-center">{{fund.performanceActualMinus5}} </td>
              <td class="text-center">{{fund.performanceActualMinus4}} </td>
              <td class="text-center">{{fund.performanceActualMinus3}} </td>
              <td class="text-center">{{fund.performanceActualMinus2}} </td>
              <td class="text-center">{{fund.performanceActualMinus1}} </td>
              <td class="text-center">{{fund.performanceAverage}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>-->
